@model CadastreManagment.Directory

@{
    ViewBag.Title = "Details";
}

<h2 class="zagolovok">Подробнее</h2>


<div>
    <p class="parametr" style="color:black">Земельный кадастр</p>
    <hr />
    <dl>
        <dt>
            Тип кадастрового объекта:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            Описание:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { type = Model.Type }, new { @class = "edit" }) |
    @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "details" })
</p>
