@{
    ViewBag.Title = "Кадастр";
}
<ol class="rectangle">
    <li>
        @Html.ActionLink("Земельный кадастр", "Index", "LandRegistry")
    </li>
    <li>
        @Html.ActionLink("Кадастр недвижимости", "Index", "RealEstateCadastre")
    </li>
    <li>
        @Html.ActionLink("Водный кадастр", "Index", "WaterCadastre")
    </li>
    <li>
        @Html.ActionLink("Полезные ископаемые", "Index", "Minerals")
    </li>
</ol>