
@{
    ViewBag.Title = "Statements";
}

<h2>Statements</h2>
<ul>
    <li>
        <a href="">@Html.ActionLink("Заявления на земельный кадастр", "Index", "StatementLand")</a>
    </li>
    <li>
        <a href="">@Html.ActionLink("Заявления на кадастр недвижимости", "Index", "StatementRealEstate")</a>
    </li>
    <li>
        <a href="">@Html.ActionLink("Заявления на водный кадастр", "Index", "StatementWater")</a>
    </li>
    <li>
        <a href="">@Html.ActionLink("Заявления на полезные ископаемые", "Index", "StatementMinerals")</a>
    </li>
</ul>
